/* ===================================
   GLOBAL
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fafbff;
    color:#24324a;
    overflow-x:hidden;
}

section{
    padding:90px 8%;
}

h1,h2,h3{
    font-weight:700;
}

h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:50px;
}

p{
    line-height:1.8;
}

button{
    font-family:'Poppins',sans-serif;
}

/* ===================================
   LOCK SCREEN
=================================== */

#lockScreen{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(
        135deg,
        #fff5f8,
        #eef5ff
    );
    z-index:9999;
    padding:20px;
}

.lock-container{
    width:100%;
    max-width:650px;
}

.gift-emoji{
    font-size:4.5rem;
    margin-bottom:15px;
    animation:floatGift 2s ease-in-out infinite;
}

@keyframes floatGift{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

.lock-container h1{
    font-size:2.5rem;
    margin-bottom:15px;
}

.lock-description{
    color:#666;
    margin-bottom:25px;
}

#countdown{
    display:flex;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.time-box{
    background:white;
    padding:15px;
    min-width:85px;
    border-radius:18px;
    box-shadow:
    0 10px 25px rgba(0,0,0,.08);
}

.time-box span{
    display:block;
    font-size:1.8rem;
    font-weight:700;
}

.time-box small{
    color:#777;
}

#giftButton{
    border:none;
    background:#ff76a7;
    color:white;
    padding:16px 35px;
    border-radius:50px;
    cursor:pointer;
    font-size:1rem;
    transition:.3s;
}

#giftButton:hover{
    transform:translateY(-3px);
}

/* ===================================
   POPUP
=================================== */

#popup{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.5);
    z-index:10000;
}

.popup-content{
    width:90%;
    max-width:420px;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.popup-content h3{
    margin-bottom:15px;
}

#closePopup{
    margin-top:20px;
    border:none;
    background:#ff76a7;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
}

/* ===================================
   OPENING SCREEN
=================================== */

#openingScreen{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:white;
    z-index:9998;
}

.opening-content{
    text-align:center;
}

.openingGift{
    font-size:6rem;
    animation:zoomGift 1.5s infinite;
}

@keyframes zoomGift{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.15);
    }
}

/* ===================================
   MAIN WEBSITE
=================================== */

#mainWebsite{
    display:none;
}

/* ===================================
   HERO
=================================== */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
        135deg,
        #fff5f8,
        #eef5ff
    );
}

.hero-content{
    max-width:800px;
}

.small-title{
    color:#ff76a7;
    font-weight:600;
    letter-spacing:2px;
    margin-bottom:20px;
}

.hero h1{
    font-size:4.5rem;
    margin-bottom:20px;
}

.hero-text{
    font-size:1.15rem;
    color:#555;
}

#journeyBtn,
#musicBtn{
    border:none;
    padding:16px 30px;
    border-radius:50px;
    cursor:pointer;
    margin:15px 10px;
    transition:.3s;
}

#journeyBtn{
    background:#ff76a7;
    color:white;
}

#musicBtn{
    background:#24324a;
    color:white;
}

#journeyBtn:hover,
#musicBtn:hover{
    transform:translateY(-3px);
}

/* ===================================
   TYPEWRITER
=================================== */

.wish-section{
    background:white;
}

#typewriter{
    max-width:800px;
    margin:auto;
    text-align:center;
    font-size:1.15rem;
    min-height:150px;
}

/* ===================================
   REASONS
=================================== */

.reasons-section{
    background:#fff8fb;
}

.reasons-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.reason-card{
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    transition:.3s;

    box-shadow:
    0 10px 25px rgba(0,0,0,.05);
}

.reason-card:hover{
    transform:translateY(-8px);
}

/* ===================================
   MEMORY CARDS
=================================== */

.memory-section{
    background:#ffffff;
}

.memory-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
    margin-top:40px;
}
   .memory-card{
    position: relative;
    height: 250px;   /* Adjust between 240px–270px */
    perspective: 1000px;
    cursor: pointer;
   }

.memory-card .front,
.memory-card .back{

    position:absolute;
    width:100%;
    height:100%;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    backface-visibility:hidden;

    transition:transform .8s ease;
}

/* ---------- FRONT ---------- */

.memory-card .front{

    background:#ffe8f1;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:1.35rem;
    font-weight:600;

    color:#24324a;

    text-align:center;

    padding:25px;
}

/* ---------- BACK ---------- */

.memory-card .back{

    background:#24324a;
    color:#ffffff;

    transform:rotateY(180deg);

    display:flex;
    flex-direction:column;

    overflow:hidden;
}

/* Scrollable content */

.memory-content{

    flex:1;

    padding:20px 18px 10px;

    overflow-y:auto;

    scrollbar-width:none;
    -ms-overflow-style:none;

    text-align:center;
}

.memory-content::-webkit-scrollbar{
    display:none;
}

.memory-content p{

    margin:0;

    line-height:1.8;

    font-size:.95rem;
}

/* Bottom hint */

.scroll-hint{

    padding:8px 0 12px;

    text-align:center;

    font-size:12px;

    color:rgba(255,255,255,.7);

    background:linear-gradient(
        to top,
        rgba(36,50,74,1),
        rgba(36,50,74,.95)
    );

    animation:floatHint 1.6s ease-in-out infinite;
}

@keyframes floatHint{

    0%,100%{
        transform:translateY(0);
        opacity:.6;
    }

    50%{
        transform:translateY(-3px);
        opacity:1;
    }

}

/* ---------- FLIP ---------- */

.memory-card.flip .front{
    transform:rotateY(180deg);
}

.memory-card.flip .back{
    transform:rotateY(360deg);
}

/* ---------- MOBILE ---------- */

@media(max-width:768px){

    .memory-card{
        height:230px;
    }

    .memory-content{

        padding:15px 14px 8px;
    }

    .memory-content p{

        font-size:.9rem;
        line-height:1.7;
    }

    .scroll-hint{

        font-size:11px;
    }

}

/* ===================================
   before-leave-secrion
=================================== */

.before-leave-section{

    max-width:700px;
    margin:0 auto;
    padding:100px 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.before-leave-section h2{
    font-size:2.4rem;
    margin-bottom:35px;
}

.before-leave-section p{
    width:100%;
    font-size:1.08rem;
    line-height:1.9;
    color:#555;
    margin:0 0 28px 0;
    text-align:center;
}

.before-leave-section .final-line{
    margin-top:15px;
    font-size:1.3rem;
    color:#ff6b9a;
}

/* ===================================
   LETTER
=================================== */

.letter-section{
    text-align:center;
}

#openLetter{
    border:none;
    background:#24324a;
    color:white;
    padding:15px 30px;
    border-radius:40px;
    cursor:pointer;
}

#secretLetter{
    display:none;
    max-width:700px;
    margin:30px auto 0;
    background:#fff6fa;
    padding:35px;
    border-radius:20px;
}

/* ===================================
   FINAL SECTION
=================================== */

.final-section{
    text-align:center;
    background:#fff8fb;
}

#surpriseBtn{
    border:none;
    background:#ff76a7;
    color:white;
    padding:18px 35px;
    border-radius:50px;
    cursor:pointer;
}

/* ===================================
   FINAL SCREEN
=================================== */

#surpriseScreen{
    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:
    linear-gradient(
        135deg,
        #ff76a7,
        #7aa7ff
    );

    z-index:10000;

    color:white;
    padding:20px;
}

.surprise-content h1{
    font-size:4rem;
    margin-bottom:20px;
}

/* ===================================
   PETALS
=================================== */

#petals-container{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:5;
}

/* ===================================
   REVEAL
=================================== */

.reveal{
    opacity:0;
    transform:translateY(50px);
    transition:.8s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* ===================================
   MOBILE
=================================== */

@media(max-width:768px){

    section{
        padding:70px 6%;
    }

    .hero h1{
        font-size:3rem;
    }

    h2{
        font-size:2rem;
    }

    .surprise-content h1{
        font-size:2.5rem;
    }

    .time-box{
        min-width:70px;
    }

    .time-box span{
        font-size:1.4rem;
    }

}

/* ===================================
   FOOTER
=================================== */

.footer{
    padding:40px 20px;
    text-align:center;
    background:#fafbff;
}

#creatorBtn{
    border:none;
    background:none;
    font-size:1rem;
    color:#777;
    cursor:pointer;
    transition:.3s;
}

#creatorBtn:hover{
    color:#ff6b9a;
    transform:scale(1.05);
}

/* ===================================
   FOOTER POPUP
=================================== */

#creatorMessage{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.55);
    z-index:99999;
    padding:20px;
}

.creator-content{
    width:100%;
    max-width:500px;
    background:#ffffff;
    padding:35px;
    border-radius:22px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
    animation:popup .35s ease;
}

@keyframes popup{

    from{
        opacity:0;
        transform:translateY(20px) scale(.95);

    }

    to{

        opacity:1;
        transform:translateY(0) scale(1);

    }

}

.creator-content h2{
    font-size:2rem;
    margin-bottom:20px;
}

.creator-content p{
    margin-bottom:20px;
    line-height:1.8;
    color:#555;
}

.creator-sign{
    font-size:1.15rem;
    font-weight:600;
    color:#ff6b9a;
}

.creator-sign span{
    color:#ff6b9a;
}

#closeCreatorMessage{

    margin-top:10px;
    border:none;
    background:#ff6b9a;
    color:#fff;
    padding:12px 28px;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}

#closeCreatorMessage:hover{

    transform:translateY(-2px);
}

/* =====================================================
   SECRET STAR
===================================================== */

#secretStar{

    cursor:pointer;

    display:inline-block;

    margin-left:6px;

    font-size:1.15rem;

    transition:.4s;
}

#secretStar:hover{

    transform:scale(1.4) rotate(20deg);

    color:#ffd54f;

    text-shadow:
    0 0 10px #fff,
    0 0 25px gold,
    0 0 40px gold;
}

/* =====================================================
   SECRET SCREEN
===================================================== */

#starSecret{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    z-index:20000;

    background:
    radial-gradient(circle at top,
    #22345f,
    #111827 45%,
    #05070d 100%);
}

/* =====================================================
   STARRY SKY
===================================================== */

.star-background{

    position:absolute;

    inset:0;

    overflow:hidden;
}

/* =====================================================
   TWINKLING STARS
===================================================== */

.star-background::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:

    radial-gradient(circle,#fff 1.5px,transparent 2px),
    radial-gradient(circle,#ffffffaa 1px,transparent 2px),
    radial-gradient(circle,#ffe082 2px,transparent 3px);

    background-size:

    120px 120px,
    170px 170px,
    250px 250px;

    animation:
    twinkle 4s ease-in-out infinite;

    opacity:.85;
}

@keyframes twinkle{

    0%,100%{

        opacity:.4;

    }

    50%{

        opacity:1;

    }

}

/* =====================================================
   SHOOTING STAR
===================================================== */

.star-background::after{

    content:"";

    position:absolute;

    top:20%;

    left:-20%;

    width:180px;

    height:2px;

    background:
    linear-gradient(
    90deg,
    white,
    transparent);

    transform:rotate(-25deg);

    animation:
    shootingStar 5s linear infinite;
}

@keyframes shootingStar{

    0%{

        transform:
        translateX(0)
        rotate(-25deg);

        opacity:0;
    }

    10%{

        opacity:1;
    }

    100%{

        transform:
        translateX(150vw)
        translateY(40vh)
        rotate(-25deg);

        opacity:0;
    }

}

/* =====================================================
   CONTENT
===================================================== */

.star-content{

    position:relative;

    z-index:2;

    width:90%;

    max-width:750px;

    text-align:center;

    color:white;

    animation:
    fadeUp 1.5s ease;
}

.star-content h2{

    color:white;

    margin-bottom:25px;

    font-size:2.6rem;

    text-shadow:
    0 0 20px rgba(255,255,255,.5);
}

.star-content p{

    font-size:1.15rem;

    line-height:2;
}

/* =====================================================
   HIDDEN REASON
===================================================== */

#hiddenReason{

    margin-top:40px;

    opacity:0;

    transform:translateY(30px);

    transition:1s;
}

#hiddenReason.show{

    opacity:1;

    transform:translateY(0);
}

#hiddenReason h3{

    color:#ffd54f;

    margin-bottom:18px;

    font-size:1.7rem;
}

/* =====================================================
   CLOSE BUTTON
===================================================== */

#closeStarSecret{

    margin-top:50px;

    border:none;

    background:white;

    color:#24324a;

    padding:15px 32px;

    border-radius:40px;

    cursor:pointer;

    font-size:1rem;

    transition:.3s;
}

#closeStarSecret:hover{

    transform:translateY(-3px);

    background:#ffd54f;
}

/* =====================================================
   FADE
===================================================== */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
        translateY(40px);
    }

    to{

        opacity:1;

        transform:
        translateY(0);
    }

}

/* =====================================================
   MOBILE
===================================================== */

@media(max-width:768px){
    .star-content h2{
        font-size:2rem;
    }
    .star-content p{
        font-size:1rem;
    }

}
